body {
  padding-top: 50px;
  background-color: #eee;
}

body, html {
    width: 100%;
    height: 100%;
}

.body-look {
  background-color: #eee;
}

.body-not-active {
  background-color: #ddd;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.mp-padding {
    padding-top: 20px;
    padding-bottom: 20px
}

.full { height: 100%;}
